.maintitle {
    margin:50px;
}

.overlay{
    color: rgb(211, 211, 211);
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Museum description field */
.container {
    align-items: center;
    padding: 20px;
    background: rgba(211,211,211,0.5);
    text-align: center;
    border-radius: 5px;
    margin-bottom: 40px;
}

/* styling icons*/
.iconstyle{
    bottom: 10px;
    width: 100%;
    font-size: 30px;
    left: 45%;
    position: fixed;
    align-items: center;
}

.iconstyle:hover{
    opacity: 0.7;
    text-decoration: none;
}

.fa-instagram, .fa-facebook, .fa-twitter, .fa-telegram {
    background: transparent;
    color: white;
    margin-right: 15px;
}
#error-message {
color: white;

}